.description{
    padding-top: 250px;
    padding-left: 30px;
    display: block;
}


.description h1{    
    font-size: 72px;
}

.description .container{
    font-size: 48px;
    display: flex; 
    flex-wrap: wrap;
}

.coder{
    position: absolute;
    left: 1000px;
    top: 190px;
    border-radius: 50%;
    
}
