.profile{
    display: block;
}

.pfp{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
}

.heading{
    color: white;
    text-align: center;
}

.socials{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.socials button{
    border: 3px;
    height: 25px;
    border-radius: 40%;
}

.socials button:hover{
    cursor: pointer;
    background-color: rgb(83, 102, 213);
}