body {
    margin: 0;
    padding: 0;
}

.background-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .background-container {
        flex-direction: column; /* Stack content vertically on mobile */
        height: auto; /* Allow the height to adjust based on content */
    }

    .left-content, .right-background {
        margin: 0; 
        width: 100%; 
        height: auto; /* Allow height to adjust based on content */
    }

    .left-content {
        order: 1; 
        width: 100%;
        height: auto; 
        padding: 10px;
        justify-content: center;
        align-items: center; 
        text-align: center; 
    
    }

    .right-background {
        order: 2; 
    }
}

.left-content {
    width: 100%; /* Use full width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 223, 223);
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.right-background {
    background-image: url('../../assets/pfp.jpg');
    background-size: cover;
    background-position: center;
    width: 100%; /* Use full width */
    height: 100vh; /* Default height for larger screens */
}

.buttons {
    display: flex;
    gap: 15px; 
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: darkgrey;
}

.left-content::-webkit-scrollbar {
    width: 10px; 
}

.left-content::-webkit-scrollbar-track {
    background-color: rgb(231, 223, 223);
    border-radius: 10px;
}

.left-content::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 10px;
    border: 3px solid #e0e0e0; 
}

.left-content::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
