/* Projects.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}


/* Wrapper for the entire content including slider and button */
.project-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(231, 223, 223);
    padding: 20px;
    
}

/* Slider container */
.slick-slider {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

/* Slide content styling */
.project-slide {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.project-slide h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.project-slide p {
    font-size: 16px;
    color: #666;
}

/* Link styling */
.project-slide a {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s, transform 0.3s;
}

.project-slide a:hover {
    color: #0056b3;
    transform: scale(1.05);
}

/* Center the button right below the slider */
.back-home {
    margin-top: 20px;
    padding-top: 20px;
    gap: 0px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}
